.shop-cards__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 90vw;
    margin: auto;
    list-style: none;
    padding: 4rem 0;
    max-width: 1000px ;
    margin-bottom: 2rem;
}
@media screen and (min-width:680px){
    
    .shop-cards__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:1000px){
    
    .shop-cards__container{
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
    }
}